h1,h2{font-family: 'Cinzel', serif;}
.heading{
   color: white;
   font-size: 72px;
   padding-top:300px;
   text-align: right;
}
.logo{
   height: 50px;
   width: 50px;
   top: 30px;
   left: 30px;
   position: fixed;
}

.boox{
   background: url("../img/Box.jpg");
   background-position: center;
   /* background-attachment:  absolute; */
   background-size: cover;
   background-repeat: no-repeat;
   height: 700px;
   width: 100%;
}

.mid{
   height: 500px;
}
h2{
   padding: 25px;
}

.mid img{
   height: 400px;
   width: 400px;
   margin: 5px auto;
   padding: 20px;
}
.icons img{
   height: 250px;
   width: 250px;
}
.black{
   background-image:url("../img/bg.jpg");
   background-position: center;
   background-size: cover;
   color: white;
}

.twoo img{
   height: 250px;
   width: 250px;
}

.team{
   background: url("../img/Kaska-bg.png");
   background-position: left;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

