* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    padding: 0rem;
    box-sizing: border-box;
}

p , table {
    font-size: 1.8rem;
}

h1,
h2 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
}
.logo {
    height: 50px;
    width: 50px;
    top: 30px;
    left: 30px;
    position: fixed;
    z-index: 100;
}

.boox {
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%); */
}

/* 
.heading{
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%,-50%);
 }
 
 .heading-main{
    display: block;
    letter-spacing: 3rem;
    font-size: 7rem;
    font-weight: 500;
    
 }
 .heading-sub{
    display: block;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: 300;
 }

.heading:hover{
    text-shadow: 0 0 30px #F23E0D;
    opacity: 0.9;
}

@media only screen and (max-width: 600px) {
    .heading {
        text-shadow: 0 0 20px #F23E0D;
    }
} */

.mid {
    min-height: 75vh;
}

.mid h4{
    font-size: 2rem;
}


.mid img {
    height: 40rem;
    width: 40rem;
    margin: .5rem auto;
    padding: 2rem;
}
@media only screen and (max-width: 600px) {
    .boox {
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        background-image: url("../img/mobile.jpg");
        background-size: cover;
    }
    .mid img {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 2rem;
    }
}

.black {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg.jpg');
    /*background-image:url("../img/bg.jpg");*/
    background-position: center;
    background-size: cover;
    color: white;
}

.icons img {
    height: 25rem;
    width: 25rem;
}
.twoo img {
    height: 25rem;
    width: 25rem;
}

@media only screen and (max-width: 600px) {
    .icons img {
        height: 15rem;
        width: 15rem;
    }
    .twoo img {
        height: 15rem;
        width: 15rem;
    }
    table {
        font-size: 1.4rem;
    }
}

.pre-order{
    text-align: center;
    border-radius: 100rem;
    background: linear-gradient(to right bottom,#F23E0D,#F6940F) ;
    color: #fff;
    padding: 1rem 3.5rem;
    margin: 1rem;
    margin: .5rem auto;
    text-decoration: none;
    font-size: 2rem;
    border: 1px solid #777;
}

/* .team {
    background: url("../img/Kaska-bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */